# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# Ansible
ansible/inventory/hosts.yml

# Vagrant
.vagrant/

# Образы и ISO
*.iso
*.vmdk
*.vdi
*.box

# Временные файлы
*.log
*.tmp
.DS_Store

# Образы виртуальных машин
*.vmdk
*.vdi
*.img
*.box
*.iso
infra/terraform/images/
