# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# Большие файлы и образы
*.iso
*.img
*.vmdk
*.vdi
*.box
*.qcow2
*.raw

# Директории с образами
infra/terraform/images/
infra/terraform/cloud-init/

# Ansible
ansible/inventory/hosts.yml

# SSH
.ssh/
*.pem
*.key

# Временные файлы
tmp/
*.log
.DS_Store
