[defaults]
roles_path = /home/admiq/graduation_paper_B/ansible/roles
inventory = /home/admiq/graduation_paper_B/ansible/inventory/hosts.yml
host_key_checking = False
timeout = 30
retry_files_enabled = False
